@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  textarea, input {
    @apply text-white;
    @apply bg-grey;
    @apply outline-none;
    @apply border; 
    @apply border-grey; 
    @apply focus:border-blue;
    @apply placeholder:text-white/30;
    @apply py-4;
    @apply px-6;
    @apply w-full;
  }
  textarea {
    @apply resize-none;
  }
}

:root {
  --color-primary: #0f2644;
  --color-red: #0f2644;
  --color-delete: var(--color-red);
  --color-error: var(--color-red);

  --color-blue: #267ff5;
  --color-blue-dark: #0f2644;
  --color-blue-light: #a2caff;

  --color-grey: #1b2128;
  --color-grey-dark: #171c22;
  --color-grey-light: #2f3844;

  --color-orange: #fc8124;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
